
.full_body {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.container {
    display: flex;
}

.container.full_width {
    width: 100%;
}

.container.content_centered {
    justify-content: center;
}

.container.column {
    flex-direction: column;
}

.item.grow_1 {
    flex-grow: 1;
}
